#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.swiper {
  width: 85%;
  /* max-height: 70vh; */
  aspect-ratio: 7/3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.slide-content {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  /* border-radius: 18px; */
  object-fit: cover;
}
.swiper-slide-shadow {
  background: transparent !important;
}
.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (width< 768px) {
  .swiper {
    aspect-ratio: 1/1;
  }
}
