.contactForm {
  background-color: #fff;
  display: block;
  padding: 1rem 1.5rem;
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0px 45px 5px #00000070;
}

.contactForm-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.contactForm .input-container {
  margin-bottom: 15px;
  position: relative;
}

.contactForm input,
.contactForm button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.contactForm input {
  background-color: #fff;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.contactForm .submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ab8171;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-top: 10px;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  color: #ab8171;
  text-decoration: underline;
}

.contactForm input:focus {
  border-color: #868686;
  outline: 0;
  box-shadow: none;
}
