:root {
  --Color-principal: #ab8171;
  --Color-secundario: #eacbb9;
  --Color-opcional: #ffe3d1;
}

html {
  overflow-x: hidden;
}
main {
  background-color: #eacbb9;
}
nav {
  background-color: #ab8171;
}

.btn:active {
  border-color: transparent !important;
}
.swiper-pagination-bullet {
  background: var(--Color-principal) !important;
}
.swiper-pagination {
  background: var(--Color-secundario);
  padding: 3px 5px;
  box-shadow: 0 0 15px 1px rgb(19, 19, 19);
  border-radius: 5px;
}
