:root {
  --Color-principal: #ab8171;
  --Color-secundario: #eacbb9;
  --Color-opcional: #ffe3d1;
}

html {
  overflow-x: hidden;
}

#roomCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  grid-auto-rows: auto;
  .roomCard {
    color: #0e0e0e;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    .card-title {
      font-weight: normal;
      transition: 0.7s;
      padding: 10px 8px;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(
        0deg,
        #d5d5d5 0%,
        #bfbfbfab 37%,
        #00000000 100%
      );
    }
    .imgContainer {
      overflow: hidden;
    }
    & img {
      transition: 0.5s;
    }
  }
}
.roomCard:hover * img {
  scale: 1.1;
}
.card-title:hover {
  background-color: #dddddd62 !important;
}
