:root {
  --Color-principal: #ab8171;
  --Color-secundario: #eacbb9;
  --Color-opcional: #ffe3d1;
}

html {
  overflow-x: hidden;
}
main {
  /* background: url("/cardboard-flat.png");
  background-color: #b57f5b; */
  background: url("/cartographer.png");
  background-color: #ffe3d1;
}
nav {
  background-color: #ab8171;
}

.btn:active {
  border-color: transparent !important;
}
.swiper-pagination-bullet {
  background: var(--Color-principal) !important;
}
.swiper-pagination {
  background: var(--Color-secundario);
  padding: 3px 5px;
  box-shadow: 0 0 15px 1px rgb(19, 19, 19);
  border-radius: 5px;
}
